label {
  color: #fff;
  margin-top: 10px;
}

input[_ngcontent-c4] {
  width: 80%;
}

.btn-custom, input {
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  border: 1px solid #fff;

}

.btn-custom:hover {
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  transform: translateY(-2px);
}

.header {
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  position: relative;
  background-blend-mode: darken;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.75);
  margin-bottom: 10px;
}

.logo {
  color: #fff;
  font-family: 'Cheque-Regular', sans-serif;
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 50%;

  text-align: center;
  transform: translate(-50%, -50%);
  border-bottom: 2px solid #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}


.submit {
  margin-bottom: 20px;
}


input {
  width: calc(100% - 40px);
  border-radius: 5px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
}

.nav-tabs .nav-link {
  color: #fff;
}

.nav-tabs {
  border: none;
}

.resource-content, .resource-title {
  color: #fff;
}

.resource-image {
  height: 394px;
  width: 700px;
  background-size: cover;
}

@media screen and ( max-width: 745px) {
  .resource-image {
    height: 281px;
    width: 500px;
  }
}

@media screen and (max-width: 545px) {
  .resource-image {
    width: 300px;
    height: 169px;
  }
}
