<div class="header" [ngStyle]="{'background-image': getHeaderBg()}">
  <h1 class="logo" #logo>Contact Us</h1>
</div>
<div class="body-container">

  <div class="form-container flex flex-column align-center justify-center">

    <form action="https://formspree.io/your@email.com" method="POST">

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Name">
      </div>

      <div class="form-group">
        <input type="email" class="form-control"   name="_replyto" placeholder="Email">
      </div>

      <div class="form-group">
          <textarea type="text" class="form-control"   name="content" placeholder="Message" rows="5"></textarea>
        </div>

      <input type="submit" class="btn btn-custom" value="Submit">
    </form>

  </div>

  <app-footer></app-footer>
</div>
