input:focus {
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
}

textarea:focus {
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
}

.btn-custom, input, textarea {
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);

}

.btn-custom:hover {
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  transform: translateY(-2px);
}

.btn {
  border: 1px solid #fff;
}

.header {
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  position: relative;
  background-blend-mode: darken;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.logo {
  color: #fff;
  font-family: 'Cheque-Regular', sans-serif;
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0px);
  border-bottom: 2px solid #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.body-container {
  min-height: calc(100vh - 500px);
  height: calc(100% + 50px);
  width: 100%;
  background-attachment: fixed;
  position: relative;
}

.form-container {
  height: 500px;
  width: 100%;
  overflow: hidden;
}

form {
  width: 50%;
}

@media screen and (max-width: 700px) {
  form {
    width: 90%;
  }
}

