button {
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);

}

button:hover {
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  transform: translateY(-2px);
}

.btn {
  border: 1px solid #fff;
  margin: 10px 0px 0px 0px;
  width: 200px;
}

.header {
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  position: relative;
  background-blend-mode: darken;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-bottom: 0px;

}

.logo {
  color: #fff;
  font-family: 'Cheque-Regular', sans-serif;
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0px);
  border-bottom: 2px solid #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.resource-container {
  height: 100%;
}
.spacer {
  height: 30px;
  width: 100%;
}

.card {
  margin-bottom: 30px;
  color: #fff;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  background-color: rgba(0,0,0,.7);

}

.card-title {
  font-family: 'Cheque-Regular', sans-serif;
  font-size: 30px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);

}

.body-container {
  margin-top: 0px;
  height: calc(100% + 50px);
  min-height: calc(100vh - 500px);
  width: 100%;
  background-attachment: fixed;
}

.post-image {
  height: auto;
  width: 100%;

}

.card-text {
  margin-top: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  line-height: 20px;
  max-height: 120px;
  overflow: hidden;

}

.card-btn {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

@media screen and (max-width: 430px) {
  .logo {
    font-size: 50px;
  }
}
