.post-image {
  height: 281px;
  width: 500px;
}

.post-title, .post-info, .post-body {
  color: #fff;
}

.side-card {
  background: linear-gradient(to bottom, #414345, #232526);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, .5);
}

.card-header {
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}

p {
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  text-align: center;
}

li:hover {
  cursor: pointer;
  border-bottom: 2px #000;
}

a {
  color: #fff;
}


