.header {
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  position: relative;
  background-blend-mode: darken;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  z-index: 1;
  overflow: hidden;
}

.logo {
  color: #fff;
  font-family: 'Cheque-Regular', sans-serif;
  font-size: 70px;
  position: absolute;
  top: 250px;
  left: 50%;
  margin-top: -42px;
  text-align: center;
  transform: translate(-50%, 0px);
  border-bottom: 2px solid #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  z-index: 2;
}

.body-container {
  height: calc(100% + 50px);
  min-height: calc(100vh - 500px);
  width: 100%;
  background-attachment: fixed;
  position: relative;
}

.spacer {
  height: 2000px;
}

